{% load static %}
<html>
<head>
    <title>PERSON</title>
    <link rel="stylesheet" href="{% static 'css/person.css' %}">
</head>
<body>
    <h1>Person Details</h1>
    {% if person_data %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for data in person_data %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available</p>
    {% endif %}
</body>
</html>
